name: Conventional Commits

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

permissions:
  contents: read
  pull-requests: write

jobs:
  check-commits:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          
      - name: Check commit messages
        uses: wagoid/commitlint-github-action@v6
        with:
          configFile: .github/commitlint.config.js
          failOnWarnings: false
          helpURL: 'https://www.conventionalcommits.org/'
